<footer class="bg-dark text-light p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Thông tin liên hệ</h5>
        <p>Địa chỉ: 234 Hoàng Quốc Việt, Thành phố Hà Nội</p>
        <p>Email: nguyen12072kk2@gmail.com</p>
        <p>Điện thoại: 0945516715</p>
      </div>
      <div class="col-md-6">
        <h5>Về Chúng Tôi</h5>
        <p>Book Store</p>
        <p>Email: bookstore@gmail.com</p>
        <p>Điện thoại: 0945516715</p>
        <p>Địa chỉ: 234 Hoàng Quốc Việt, Thành phố Hà Nội</p>
      </div>
    </div>
  </div>
</footer>
