<h1>Quản lý thể loại sản phẩm</h1>
<form action="/categories/{{categories._id}}?_method=PUT" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Tên sản phẩm</label>
    <input
      type="text"
      class="form-control"
      name="name"
      value="{{categories.name}}"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>