<div style="font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f4f4f4;color: #333;">
    <div style="background-color: #fff;
            color: #ecf0f1;
            text-align: center;
            padding: 1em;">
        <h1 style="color: #2c3e50;">Giới Thiệu Website Bán Sách</h1>
    </div>

    <main style="max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #2c3e50;">Về Chúng Tôi</h2>
        <p style="line-height: 1.6;">Chào mừng bạn đến với trang giới thiệu của chúng tôi! Chúng tôi là một trang web chuyên cung cấp các loại sách phong phú, từ sách văn học, khoa học đến sách nấu ăn và nhiều thể loại khác.</p>

        <h2 style="color: #2c3e50;">Dịch Vụ Của Chúng Tôi</h2>
        <p style="line-height: 1.6;">Chúng tôi cam kết mang đến cho bạn trải nghiệm mua sắm trực tuyến thuận lợi và an toàn. Bạn có thể dễ dàng tìm kiếm và đặt mua những cuốn sách yêu thích của mình.</p>

        <h2 style="color: #2c3e50;">Liên Hệ</h2>
        <p style="line-height: 1.6;">Nếu bạn có bất kỳ câu hỏi hoặc ý kiến đóng góp, hãy liên hệ với chúng tôi qua email: info@sachonline.com</p>
    </main>
</div>
