<div style="font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f4f4f4;color: #333;">
    <div style="background-color: #fff;
            color: #ecf0f1;
            text-align: center;
            padding: 1em;">
        <h1 style="color: #2c3e50;">Liên Hệ Website Bán Sách</h1>
    </div>

    <main style="max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #2c3e50;">Về Chúng Tôi</h2>
        <p style="line-height: 1.6;">Chào mừng bạn đến với trang liên hệ của chúng tôi! Sách Online là nơi bạn có thể khám phá và mua sắm những cuốn sách phong phú trong nhiều thể loại khác nhau.</p>

        <h2 style="color: #2c3e50;">Thông Tin Liên Hệ</h2>
        <p style="line-height: 1.6;">Nếu bạn có bất kỳ câu hỏi hoặc ý kiến đóng góp, hãy liên hệ với chúng tôi qua email: <a href="bookstore@sachonline.com">info@sachonline.com</p>

        <h2 style="color: #2c3e50;">Địa Chỉ</h2>
        <p style="line-height: 1.6;">Sách Online Bookstore <br>
                                    234 Hoàng Quốc Việt, Bắc Từ Niêm, Hà Nội</p>
    </main>
</div>




